.ant-list .ant-list-item.list-item {
  background: #f5f5f5;
  position: relative;
  display: grid;
  grid-template-columns: 30% 1fr;
  height: 150px;
  gap: 10px;
  box-sizing: border-box;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid #4f4f4f;
  border-radius: 10px;
}

.product-image {
  max-width: 100%;
  max-height: 100px;
  margin: auto;
}

.product-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-title {
  font-size: 16px;
  color: #4f4f4f;
  display: -webkit-box;
  /* Используем flexbox для текстового контейнера */
  -webkit-box-orient: vertical;
  /* Указываем вертикальную ориентацию */
  overflow: hidden;
  /* Скрываем текст, выходящий за пределы */
  text-overflow: ellipsis;
  /* Добавляем многоточие */
  -webkit-line-clamp: 2;
  /* Обрезаем текст после 2 строк */
  line-clamp: 2;
  /* Для современных браузеров */
}

.product-title:hover {
  color: #4f4f4f;
}

.product-category {
  color: #4f4f4f;
  font-size: 12px;
  opacity: 0.7;
}

.product-price {
  color: #4f4f4f;
  font-size: 16px;
  font-weight: 700;
}

.icon {
  color: #4f4f4f;
  font-size: 30px;
  cursor: pointer;
}

.product-favorite {
  cursor: pointer;
}

.inline-filters-header .ant-drawer-close {
  color: #4f4f4f;
}

.inline-filters-header .ant-drawer-title {
  font-size: 20px;
}

.inline-filters-header .ant-radio-group {
  display: flex;
  flex-direction: column;
}

.ant-slider .ant-slider-track,
.ant-slider .ant-slider-track:hover {
  background-color: #4f4f4f !important;
}

.ant-slider .ant-slider-handle:hover::after,
.ant-slider .ant-slider-handle:active::after,
.ant-slider .ant-slider-handle:focus::after,
.ant-slider .ant-slider-handle::after {
  box-shadow: 0 0 0 2.5px #4f4f4f !important;
  outline: 6px solid rgba(79, 79, 79, 0.2);
}

.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-checked .ant-checkbox-inner:hover {
  background-color: #4f4f4f !important;
  border-color: #4f4f4f !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner {
  border-color: #4f4f4f !important;
}

.ant-radio-wrapper::after {
  content: none;
}

.radio-group {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(5, 1fr);
}

.radio-option {
  height: 100%;
  align-items: center;
  font-size: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.category-navigation {
  display: block;
}

.catalog-page-wrapper .ant-spin-container {
  display: flex;
  flex-direction: column;
}

.catalog-page-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
}

.sort-buttons {
  display: none;
  flex-direction: row;
  gap: 16px;
}

@media (max-width: 768px) {
  .product-details,
  .product-info {
    height: 100%;
  }

  .product-price {
    font-size: 20px;
    margin-top: auto;
  }
}

@media (min-width: 768px) {
  .sort-buttons {
    display: flex;
  }

  .ant-list .ant-list-item.list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 360px;
    align-items: center;
  }

  .product-image {
    margin: 0;
    max-height: 200px;
  }

  .product-details {
    flex-grow: 1;
    width: 100%;
  }

  .product-info {
    width: 100%;
    height: 100%;
  }

  .product-price {
    font-size: 30px;
    margin-top: auto;
  }

  .product-favorite {
    background: white;
    border-radius: 50%;
    border: 1px solid white;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px;
    top: 16px;
    right: 16px;
    position: absolute;
  }
}

@media (min-width: 964px) {
  .category-navigation {
    display: none;
  }

  .catalog-page-container {
    gap: 20px;
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: 992px) and (max-width: 1175px) {
  .catalog-page-container {
    max-width: 960px;
  }
}

@media (min-width: 1176px) and (max-width: 1399px) {
  .catalog-page-container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .catalog-page-container {
    max-width: 1320px;
  }
}
