.horizontal-scroll-container .ant-list-items {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  scrollbar-width: thin;
}

.categoryQuickAccess .ant-list-split .ant-list-item {
  margin-bottom: 1px;
  border: 0px solid transparent;
}

.horizontal-scroll-container::-webkit-scrollbar {
  height: 8px;
}

.horizontal-scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.horizontal-scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.related-carousel-title {
  color: #4f4f4f;
  margin: 10px 0;
  font-size: 24px;
}

.related-carousel-item-details {
  display: flex;
  flex-direction: column;
}

.related-carousel-item-category {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  color: #4f4f4f;
}

.related-carousel-item-image-wrapper {
  display: flex;
  aspect-ratio: 1/1;
  align-items: flex-start;
  align-self: center;
  text-align: center;
}

.related-carousel-item-image {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.related-carousel-item-favorite {
  background: white;
  border-radius: 50%;
  border: 1px solid #4f4f4f;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px;
  top: 0;
  right: 0;
  position: absolute;
}

.ant-list .ant-list-item.related-carousel-item {
  position: relative;
  flex: 0 0 auto;
  gap: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.related-carousel-item-content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.related-carousel-item-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

.related-carousel-item-info {
  display: flex;
  flex-direction: column;
}

.related-carousel-item-title:hover {
  color: #4f4f4f;
}
.related-carousel-item-title {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  color: #4f4f4f;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.related-carousel-item-price-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  gap: 0;
}
.related-carousel-item-price {
  color: #4f4f4f;
  font-weight: 700;
  font-size: 20px;
  line-height: normal;
}
.related-carousel-item-priceWithoutDiscount {
  color: #4f4f4f;
  font-weight: 700;
  font-size: 14px;
  text-decoration: line-through;
  line-height: normal;
}

.related-carousel-item-details,
.related-carousel-item-info {
  width: 100%;
}

@media (max-width: 768px) {
  .related-carousel-item-image-wrapper {
    height: 150px;
    width: 150px;
  }
}

@media (min-width: 449px) {
  .related-carousel-item-image-wrapper {
    height: 175px;
    width: 175px;
  }
}
