.related-carousel-horizontal-scroll-container .ant-list-items {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: stretch;
  overflow-x: auto;
  gap: 0px;
  scrollbar-width: thin;
  padding-bottom: 4px;
}

.related-carousel-horizontal-scroll-container::-webkit-scrollbar {
  height: 8px;
}

.related-carousel-horizontal-scroll-container::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;
}

.related-carousel-horizontal-scroll-container::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.related-carousel-title {
  color: #333;
  margin: 10px 0;
  font-size: 24px;
  font-weight: 600;
}

.ant-list .ant-list-item.related-carousel-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  gap: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 10px;
  height: 100%;
}

.related-carousel-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  flex-grow: 1;
}

.related-carousel-item-image-wrapper {
  display: flex;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.related-carousel-item-image {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.related-carousel-item-favorite {
  background: white;
  border-radius: 50%;
  border: 1px solid #4f4f4f;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px;
  top: 0;
  right: 0;
  position: absolute;
}

.related-carousel-item-details,
.related-carousel-item-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.related-carousel-item-title {
  font-size: 16px;
  font-weight: 700;
  color: #4f4f4f;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
}

.related-carousel-item-title:hover {
  color: #111;
}

.related-carousel-item-category {
  font-size: 13px;
  color: #777;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.related-carousel-item-price-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.related-carousel-item-price {
  font-weight: bold;
  font-size: 18px;
  color: #222;
}

.related-carousel-item-priceWithoutDiscount {
  font-size: 13px;
  color: #999;
  text-decoration: line-through;
}

@media (max-width: 768px) {
  .related-carousel-horizontal-scroll-container .ant-list-items {
    overflow-x: auto;
  }
}
