.layout {
  background: transparent;
  min-height: 100svh;
  padding-bottom: 10vh;
}

.header {
  height: 64px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background: white;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.header-title{
  display: flex;
  align-items: center;
}

.header-title img {
  color: #4f4f4f;
  height: 40px;
}

.header-title:hover {
  color: #4f4f4f;
}
