.layout {
  background: transparent;
  min-height: 100svh;
  padding-bottom: 10vh;
}

.header {
  height: 64px;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: #091235;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.header-title {
  color: #FEFBEA;
  margin: 0;
  font-size: 18px;
}

.header-title:hover {
  color: #FEFBEA;
}