* {
  font-family: "EB Garamond", serif;
}

body {
  /* background: #013328; */
  /* background: #0D2B1D; */
  background: #091235;
  font-weight: 500;
  color: #FEFBEA;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  color: #FEFBEA;
}
