body {
  font-weight: 500;
  color: #4f4f4f;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
.ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
  border-color: #ffffff;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  color: #4f4f4f;
}
